body {
    font-family:font-family: "Comic Sans MS", cursive, sans-serif;
    font-size:20px;
    color:white;
    margin: 10px;
    background: url("backgr.jpg") black;
    background-repeat: no-repeat;
    background-size: cover;
}

.main-content {
    max-width: 1024px;
    margin: 0 auto;
}

.left-container {
    float: left;
    width: 325px;
}

.right-container {
    float: left;
    width: 697px;
    line-height: 1;
    border-left: 2px solid white;
}

img {
    border-radius: 10%;
    width: 255px;
    box-shadow: -2px -2px 6px 2px #b3b3b3;
}

figcaption {
    font-size: 30px;
    text-align: center;
    text-decoration: underline;
}
